/*=======RESET=======*/
/*by: Josh Comeau
https://www.joshwcomeau.com/css/custom-css-reset/
*/

*,
*::after,
*::before {
  box-sizing: border-box;
}

* {
  padding: 0;
  margin: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

input,
button,
textarea,
select {
  font: inherit;
}

button {
  all: unset;
}

button:focus {
  outline: revert;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

:root {
  --priority-high: #ffa0b7;
  --priority-mid: #ffe5c2;
  --priority-low: #82ff94;

  --secondary-color: #c29cff;
  --accent-color: #f1cffc;
  --main-color: #ffffff;
  --modal-bg-color: #c29cff6e;

  --project-border-color: #000;
}

:root {
  --shadow-color: 0deg 0% 71%;
  --shadow-elevation-low: 0.3px 0.5px 0.6px hsl(var(--shadow-color) / 0.29),
    0.4px 0.8px 1px -1.4px hsl(var(--shadow-color) / 0.27),
    0.9px 1.8px 2.2px -2.8px hsl(var(--shadow-color) / 0.25);
  --shadow-elevation-medium: 0.3px 0.5px 0.6px hsl(var(--shadow-color) / 0.31),
    0.7px 1.4px 1.7px -0.9px hsl(var(--shadow-color) / 0.29),
    1.8px 3.6px 4.3px -1.9px hsl(var(--shadow-color) / 0.27),
    4.4px 8.8px 10.6px -2.8px hsl(var(--shadow-color) / 0.25);
  --shadow-elevation-high: 0.3px 0.5px 0.6px hsl(var(--shadow-color) / 0.29),
    1px 2.1px 2.5px -0.4px hsl(var(--shadow-color) / 0.28),
    1.9px 3.8px 4.6px -0.8px hsl(var(--shadow-color) / 0.27),
    3.2px 6.4px 7.7px -1.2px hsl(var(--shadow-color) / 0.26),
    5.2px 10.5px 12.6px -1.6px hsl(var(--shadow-color) / 0.25),
    8.3px 16.6px 19.9px -2px hsl(var(--shadow-color) / 0.24),
    12.8px 25.6px 30.7px -2.4px hsl(var(--shadow-color) / 0.23),
    19px 38px 45.6px -2.8px hsl(var(--shadow-color) / 0.23);
}

.main-div {
  background-color: var(--main-color);
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-columns: minmax(150px, 20vw) minmax(150px, 1fr);
  grid-template-rows: minmax(80px, 4vh) 1fr;
  grid-template-areas:
    "header header"
    "aside main";
}

header {
  grid-area: header;
}

aside {
  grid-area: aside;
}

main {
  grid-area: main;
}

/*========MODAL=========*/
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: var(--modal-bg-color);
}

.modal > div {
  background-color: var(--main-color);
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  min-width: 300px;
  max-width: 10vw;
}

/*=======BUTTONS=======*/
button {
  background-color: var(--project-border-color);
  padding: 0.3rem 1rem;
  border-radius: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  color: var(--main-color);
  transition-property: transform, color, background-color;
  transition-duration: 200ms;
}

button:hover {
  cursor: pointer;
}

button:active {
  transform: scale(95%);
}

/*==========HEADER==========*/
header {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

header > p {
  position: absolute;
  top: 53px;
  font-size: 0.8em;
}

/*========SIDEBAR=========*/
aside {
  background-color: var(--main-color);
  padding: 2vh 10%;
  display: grid;
  gap: 1vh;
  grid-template-columns: 1fr;
  grid-template-rows: 50px 1fr;
  border-right: 4px solid var(--main-color);
}

main {
  background-color: var(--accent-color);
  display: flex;
  flex-direction: column;
  padding: 2vh 2vw;
}

/*======PROJECT CONTAINER========*/
#project-container {
  display: flex;
  flex-direction: column;
  gap: 1.5vh;
}

/*========PROJECT ELEMENT========*/
.project {
  background-color: var(--main-color);
  border: 2px solid var(--project-border-color);
  border-radius: 20px;
  padding: 5% 2%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4%;
  box-shadow: var(--shadow-elevation-low);
  transition-property: transform;
  transition-duration: 50ms;
}

.project:hover {
  transform: scale(104%);
  box-shadow: var(--shadow-elevation-medium);
}

#btn-create-project,
#btn-new-task {
  box-shadow: var(--shadow-elevation-low);
}

#btn-create-project:hover,
#btn-new-task:hover {
  background-color: var(--priority-low);
  color: var(--project-border-color);
}

.project > p,
.body-task > p {
  text-align: center;
  margin: 8px 0;
}

#date-info {
  font-size: 0.7rem;
}

.project > h3 {
}

#btn-delete-project,
.btn-delete-task,
#btn-completed {
  width: 35%;
  transition-duration: 100ms;
}

#btn-delete-project:hover,
.btn-delete-task:hover {
  color: var(--project-border-color);
  background-color: var(--priority-high);
}

/*=======TASK CONTAINER========*/

#task-container {
  display: grid;
  gap: 2vh 1vw;
  grid-template-columns: repeat(auto-fit, minmax(200px, 24%));
  grid-template-rows: repeat(auto-fil, 240px);
  padding: 2vh 0vw;
}

/*======TASK======*/

.body-task {
  background-color: var(--main-color);
  border: 2px solid var(--project-border-color);
  border-radius: 20px;
  padding: 2% 0.5%;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: var(--shadow-elevation-low);
  transition-property: transform;
  transition-duration: 50ms;
}

.body-task:hover {
  transform: scale(104%);
  box-shadow: var(--shadow-elevation-medium);
}

#btn-completed,
.btn-delete-task {
  width: 20%;
  transition-property: color;
  transition-duration: 100ms;
}
#btn-completed {
  margin: 4px 0;
}

#btn-completed:hover {
  background-color: var(--priority-low);
  color: var(--project-border-color);
}

.priority-low {
  background-color: var(--priority-low);
}

.priority-mid {
  background-color: var(--priority-mid);
}

.priority-high {
  background-color: var(--priority-high);
}

/*======MAIN=======*/
#btn-new-task {
  justify-self: center;
  width: 9vw;
  margin-top: 2vh;
}
