/*=======RESET=======*/
/*by: Josh Comeau
https://www.joshwcomeau.com/css/custom-css-reset/
*/
*,
*::after,
*::before {
  box-sizing: border-box;
}

* {
  padding: 0;
  margin: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

:root {
  --priority-high: #ffa0b7;
  --priority-mid: #ffe5c2;
  --priority-low: #82ff94;

  --secondary-color: #c29cff;
  --accent-color: #8fd4ff;
  --main-color: #ffffff;
  --modal-bg-color: #c29cff6e;
}

.main-div {
  background-color: var(--main-color);
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-columns: minmax(150px, 15vw) minmax(150px, 1fr);
  grid-template-rows: minmax(80px, 4vh) 1fr;
  grid-template-areas:
    "header header"
    "nav main";
}

.main-div > * {
  border: 1px solid rgb(241, 11, 11);
}

.main-div > header {
  grid-area: header;
}

.main-div > nav {
  grid-area: nav;
}

.main-div > main {
  grid-area: main;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: var(--modal-bg-color);
}

.modal > div {
  background-color: var(--main-color);
  transform: translateY(-100%);
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  min-width: 300px;
  max-width: 10vw;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
}
